<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476543957856-bjmfet0u71t0hl2c86ke9ufgdtbkam04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476543957856-bjmfet0u71t0hl2c86ke9ufgdtbkam04</string>
	<key>API_KEY</key>
	<string>AIzaSyD9LSrP7_ZRgs3WKiQIAtIf26i415VGbaM</string>
	<key>GCM_SENDER_ID</key>
	<string>476543957856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dispersik.psychodynamics</string>
	<key>PROJECT_ID</key>
	<string>psychodynamics-3c1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>psychodynamics-3c1eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476543957856:ios:84bd412c590ec611abbc05</string>
</dict>
</plist>